# files without extensions
*
!/**/
!*.*

*.agdai
*.swp
*.vim
*~
.#*
.DS_Store
.backup/
.build/
.builtins
.context
.ctx/
.fill.tmp
.holefill
.tmp/
Main
\#*#
node_modules/
.log.txt
.msg.txt
.sys.txt
Bend/bend
HVM/OLD/
HVM/context
agda2kind.txt
*.bak
